.selector h2 {
  text-transform:uppercase;
  font-size:1em;
}

.selector select, .selector input, .datetime, .related-widget-wrapper {
  width:100%;
}

.selector-filter label {
  display: none;
}

.selector-chooser {
  order-bottom: 1px solid #ddd;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.selector-chooser li {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  margin-bottom: 1em;
}

a, a:hover {
  text-decoration: none;
  color: black;
}
