{% extends "base.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="{% static "img/vupit.png" %}" class="img-fluid"/></a>
  <button class="navbar-toggler btn-block" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container">
      <div class="row text-right">
        <div class="col-md-1 ml-auto">
          <div class="row">
            <div class="col-md-6 p-0">
              <a href="https://www.facebook.com/DeliveryApp/">
                <img src="{% static "img/facebook.png" %}" class="img-fluid"/>
              </a>
            </div>
            <div class="col-md-6 p-0">
              <a href="https://www.instagram.com/">
                <img src="{% static "img/instagram.png" %}" class="img-fluid"/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#howitworks">COMO FUNCIONA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#advantage">VANTAGENS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#distribute">SOU DISTRIBUIDOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTATO</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="cover" class="cover">
  <!--<div id="message" class="col-md-3">
    <h1 style="color:white; line-height:1.5em; margin-bottom:1em">Toda hora é uma boa hora para diversão.</h1>
    <h4 style="color:white;">Baixe o app</h4>
  </div>-->
</div>
<div id="howitworks" class="purple container-fluid">
  <br>
  <div class="row text-center">
    <div class="col-md-12">
      <h1>COMO FUNCIONA?</h1>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="{% static "img/gps.png" %}" width="75%" style="margin-bottom:1em" class="img-fluid"/>
        <h4>USE O SEU GPS: SELECIONE SEU ENDEREÇO</h4>
      </div>
      <div class="col-md-4">
        <img src="{% static "img/mapa.png" %}" width="75%" style="margin-bottom:1em" class="img-fluid"/>
        <h4>ESCOLHA UM DISTRIBUIDOR</h4>
      </div>
      <div class="col-md-4">
        <img src="{% static "img/bebidas.png" %}" width="75%" style="margin-bottom:1em" class="img-fluid"/>
        <h4>RECEBA ONDE ESTIVER: NA SUA CASA NO CERIMONIAL OU NO SEU BAR</h4>
      </div>
    </div>
  </div>
  <br><br><br><br>
</div>
<div id="advantage" class="yellow container-fluid">
  <br><br>
  <div class="row text-center">
    <div class="col-md-12">
      <h1>VANTAGENS</h1>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <img src="{% static "img/dinheiro.png" %}" class="img-fluid"/>
        <h3>ECONOMIA</h3>
        <p>Escolha a distribuidora com menor preço mais perto de você.</p>
      </div>
      <div class="col">
        <img src="{% static "img/moto.png" %}" class="img-fluid"/>
        <h3>PRATICIDADE</h3>
        <p>Agilidade e eficiência com um excelente atendimento na entrega.</p>
      </div>
      <div class="col">
        <img src="{% static "img/relogio.png" %}" class="img-fluid"/>
        <h3>DISPONIBILIDADE</h3>
        <p>Todos os dias a qualquer hora. 24 horas.</p>
      </div>
      <div class="col">
        <img src="{% static "img/celular.png" %}" class="img-fluid"/>
        <h3>MOBILIDADE</h3>
        <p>Peça onde você estiver e receba em qualquer lugar que desejar.</p>
      </div>
      <div class="col">
        <img src="{% static "img/seguranca.png" %}" class="img-fluid"/>
        <h3>SEGURANÇA</h3>
        <p>Respeito total a sua privacidade e seus dados.</p>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>
</div>
<div id="distribute" class="purple container-fluid">
  <br><br><br><br>
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Cadastre sua<br>DISTRIBUIDORA</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-9 ml-auto mr-auto">
      <div class="row">
        <div class="col-6 col-md-3">
          <img src="{% static "img/preencha.png" %}" class="img-fluid">
          <h4>PREENCHA AS INFORMAÇÕES NECESSÁRIAS</h4>
        </div>
        <div class="col-6 col-md-3">
          <img src="{% static "img/contato.png" %}" class="img-fluid">
          <h4>ENTRAREMOS EM CONTATO COM VOCÊ</h4>
        </div>
        <div class="col-6 col-md-3">
          <img src="{% static "img/app.png" %}" class="img-fluid">
          <h4>ATUALIZAREMOS A SUA DISTRIBUIDORA NO APP/USUÁRIO</h4>
        </div>
        <div class="col-6 col-md-3">
          <img src="{% static "img/pedidos.png" %}" class="img-fluid">
          <h4>JÁ PODE RECEBER SEUS PEDIDOS</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <button class="btn-vupit">Cadastre-se em breve.</button>
    </div>
  </div>
  <br><br><br><br>
</div>
<div id="contact" class="white container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 style="margin-bottom:0em;">CONTATO</h1>
      <h5 style="font-size:1em; letter-spacing:1pt; margin-top:1em; color:gray">Escreva aqui seu comentário, elogio, crítica ou sugestão.</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <form action="send/" method="POST" onSubmit="alert('Obrigado pelo seu feedback.');">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <label for="inputName1">NOME</label>
              <input name="name" style="font-size:1em" type="name" class="form-control vupit-form-control" id="inputName1">
            </div>
            <div class="col">
              <label for="inputEmail1">E-MAIL</label>
              <input name="email" style="font-size:1em" type="email" class="form-control vupit-form-control" id="inputEmail1">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="inputMessage1">MENSAGEM</label>
              <textarea name="text" style="font-size:1em" rows="7" class="vupit-form-control" id="inputMessage1"></textarea>
            </div>
          </div>
          <div class="row text-center">
            <div class="col">
              <button type="submit" class="btn-vupit-inverse">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
</div>
<div id="footer" class="purple container-fluid">
  <br><br>
  <div class="row">
    <div class="col-md-5 text-center">
      <br><br><br><br><br><br>
      <div class="row">
        <div class="col-md-9 ml-auto mr-auto">
          <img src="{% static "img/vupit_footer.png" %}" class="img-fluid"/>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-left">
      <br><br>
      <h4><a href="#cover">HOME</a></h4>
      <h4><a href="#howitworks">COMO FUNCIONA</a></h4>
      <h4><a href="#distribute">SOU DISTRIBUIDOR</a></h4>
      <h4><a href="#advantage">VANTAGENS</a></h4>
      <h4><a href="#contact">CONTATO</a></h4>
    </div>
    <div class="col-md-3 text-right">
      <div class="row">
        <div class="col-md-9 ml-auto mr-auto">
          <br><br><br><br><br>
          <div class="row">
            <div class="col-md-4 ml-auto">
              <div class="row">
                <div class="col-md-6 p-0 ml-auto">
                  <a href="https://www.facebook.com/DeliveryApp/">
                    <img src="{% static "img/facebook.png" %}" class="img-fluid"/>
                  </a>
                </div>
                <div class="col-md-6 p-0">
                  <a href="https://www.instagram.com/">
                    <img src="{% static "img/instagram.png" %}" class="img-fluid"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <br><br><br>
          <div class="row">
            <div class="col-md-12">
              <br>
              <p>©2017 Delivery </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
{% endblock %}
